@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;600;700&family=Kanit:ital,wght@0,200;0,400;0,500;1,900&family=Lato:wght@100&family=Montserrat:wght@400;500;700;800&family=Open+Sans&family=Poppins:wght@800&family=Roboto:wght@300&display=swap");

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #fff;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", "sans-serif";
  height: 100px;
  background-color: black;
  padding: 0 5%;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
}
nav .links a:hover {
  color: white;
}
nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
nav .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: white;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    /* justify-content: center; */
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 1.2rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* sec-home */

.banner-bg {
  background-image: url("/img/banner-1.jpg");
  height: auto;
  width: 100%;
  background-size: cover;
}

.sec1-home .banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  display: flex;
}
.sec1-home p {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.sec1-home .row {
  display: flex;
  height: 70vh;
  align-items: center;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

.sec1-home .nametag h2 {
  font-size: 100px;
}

.sec1-home hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 3px solid;
  opacity: 0.25;
  color: white;
  width: 150px;
  margin-left: 5px;
}

.marque {
  text-transform: uppercase;
}

/* .sec2-about */

.sec2-about {
  background-image: url("/img/about\ bg.jpg");
  background-size: cover;
  height: auto;
}

.sec2-about .about-bg {
  background-color: #00000098;
  height: auto;
  padding-top: 5%;
}

.sec2-about .about-bg img:hover {
  transform: scale(1.2);
  cursor: pointer;
  padding-top: 5%;
}

.sec2-about .about-bg .marque h1 {
  font-size: 60px;
  padding-top: 5%;
}

.aboutcards {
  background-color: #fff;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  height: auto;
}

.aboutcards .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About .cardimg img {
  border-radius: 40px;
  margin-top: 5%;
  width: 85%;
}

.About .card-content {
  color: #000000;
}
.About .card-content h2 {
  font-size: 40px;
}

/* section gallery start */

.sec3-gallery {
  margin-top: 10%;
}

.sec3-gallery .gallery-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.581),
      rgba(0, 0, 0, 0.581)
    ),
    url("/img/yandex.jpg");
  width: 100%;
  height: auto;
  padding-bottom: 2%;
  padding-top: 2%;
  background-size: cover;
  color: white;
}

.sec3-gallery .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.sec3-gallery p {
  font-weight: 500;
}
.sec3-gallery h3 {
  font-size: 35px;
  padding-bottom: 2%;
}

.sec3-gallery .gallery-bg h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 2%;
}

.slider22 {
  margin-top: 10%;
}

.sec4-contactus {
  margin-top: 10%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.683),
      rgba(0, 0, 0, 0.38)
    ),
    url("/img/banner-3181207.jpeg");
  background-size: cover;
  background-color: #ffffff !important;
  height: auto;
  padding-bottom: 2%;
  color: #fff;
  font-weight: 500;
}

.sec4-contactus h2 {
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  
}

.sec4-contactus .form-control {
  background-color: #000;
}
.sec4-contactus .row {
  padding-top: 5%;
}

.footer-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.898),
      rgba(0, 0, 0, 0.778)
    ),
    url("/img/sea.jpg");
  background-size: cover;
  height: auto;
  padding-bottom: 3%;
}

footer hr {
  margin-top: 2%;
  border: 1px solid rgb(255, 255, 255);
}

.footer-bg h2 {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  font-size: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

/* modal */

.modal h2{
  font-weight: bolder;
  font-size: 50px;
  color: #000;
}

.modal-content {
  background-color: rgba(186, 188, 189, 0.891);
  border-radius: 20px;
}

.form-select {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.modal-content img{
  border-radius: 20px;
}